<a href="https://colab.research.google.com/github/asyuuuuu/Python-Class/blob/main/Assignment_Data_Science_Tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment Data Science Tools

##**Anis Syuhada**
Data Analyst

*i am interested in data science because i like to be a detective for information. I like to use clues data to uncover insights *

###2x3 = 6

In [ ]:
a=2
b=3
c=a*b
print(c)

6

I am:
* dedicated
* detail oriented
* passionate

[Visit my LinkedIn profile](https://www.linkedin.com/in/anis-syuhada-azeman/)

My core values:

1.   Trust
2.   Honest
3.   Respect

In [ ]:
import pandas as pd
df = pd.read_csv("custcat.csv")

print(df.head(16))

    region  tenure  age  marital  address  income  ed  employ  retire  gender  \
0        2      13   44        1        9    64.0   4       5     0.0       0
1        3      11   33        1        7   136.0   5       5     0.0       0
2        3      68   52        1       24   116.0   1      29     0.0       1
3        2      33   33        0       12    33.0   2       0     0.0       1
4        2      23   30        1        9    30.0   1       2     0.0       0
5        2      41   39        0       17    78.0   2      16     0.0       1
6        3      45   22        1        2    19.0   2       4     0.0       1
7        2      38   35        0        5    76.0   2      10     0.0       0
8        3      45   59        1        7   166.0   4      31     0.0       0
9        1      68   41        1       21    72.0   1      22     0.0       0
10       2       5   33        0       10   125.0   4       5     0.0       1
11       3       7   35        0       14    80.0   2      15     0.0       1
12       1      41   38        1        8    37.0   2       9     0.0       1
13       2      57   54        1       30   115.0   4      23     0.0       1
14       2       9   46        0        3    25.0   1       8     0.0       1
15       1      29   38        1       12    75.0   5       1     0.0       0

    reside  custcat
0        2        1
1        6        4
2        2        3
3        1        1
4        4        3
5        1        3
6        5        2
7        3        4
8        5        3
9        3        2
10       1        1
11       1        3
12       3        1
13       3        4
14       2        1
15       4        2